*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h6{
    color: black;
    text-align: center;
}
h2{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0px;
}